@use "colors";

.login-button {
  margin: 5% 0 5% 0;

  min-width: 180px;
  width: 35%;
}

.link {
  text-decoration: none;

  font-size: 0.9rem;

  color: colors.$link-text;
}

.login-form {
  width: 100%;
}

.error {
  height: 1.8rem;
  min-height: 1.8rem;

  color: colors.$primary-error;
}
