.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background-color: rgb(255, 255, 255, 0.2);
}

.main-container {
  position: absolute;
  opacity: 0.3;
  transform: translateY(-50%);
  width: 60%;
  background-color: lightblue;

  aspect-ratio: 1 / 1.15;
  animation: mainMove 1s ease forwards, fadeIn 0.5s ease forwards; 
}

.container-1 {
  position: absolute;
  opacity: 0.3;

  width: 55%;

  transform: translate(+100%, +40%);

  background-color: rgb(165, 42, 42, 0.6);
  aspect-ratio: 1 / 1;
  animation: container1Move 1.4s ease forwards, fadeIn 0.5s ease forwards; 

  z-index: -2;
}

.container-2 {
  position: absolute;
  opacity: 0.3;

  width: 45%;

  transform: translate(-90%, -45%);

  background-color: rgb(165, 42, 42, 0.6);
  aspect-ratio: 1 / 1;

  animation: container2Move 1.4s ease forwards, fadeIn 0.5s ease forwards; 

  z-index: -2;
}

.container-3 {
  position: absolute;
  opacity: 0.3;

  width: 65%;

  transform: translate(-105%, +40%);

  background-color: rgb(0, 0, 255, 0.7);
  aspect-ratio: 1 / 1;

  animation: container3Move 1.3s ease forwards, fadeIn 0.5s ease forwards; 

  z-index: -1;
}

.container-4 {
  position: absolute;
  opacity: 0.3;

  width: 80%;

  transform: translate(+105%, -8%);

  background-color: rgb(0, 0, 255, 0.7);
  aspect-ratio: 1 / 1.15;

  animation: container4Move 1.3s ease forwards, fadeIn 0.5s ease forwards; 

  z-index: -1;
}

.hex {
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}

@keyframes fadeIn {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}

@keyframes mainMove {
  from { transform: translateY(-50%); }
  to   { transform: translateY(-35%); }
}

@keyframes container1Move {
  from { transform: translate(+100%, +40%); }
  to   { transform: translate(+50%, +40%); }
}

@keyframes container2Move {
  from { transform: translate(-90%, -45%); }
  to   { transform: translate(-70%, -45%); }
}

@keyframes container3Move {
  from { transform: translate(-105%, +40%); }
  to   { transform: translate(-85%, +40%); }
}

@keyframes container4Move {
  from { transform: translate(+105%, -8%); }
  to   { transform: translate(+90%, -8%); }
}