.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background-color: rgb(255, 255, 255, 0.2);
}

.hex {
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}

// central container
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 60%;

  background-color: lightblue;

  animation: mainContainer 0.7s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1.15;
}

@keyframes mainContainer {
  from { transform: translateY(-50%); }
  to   { transform: translateY(-35%); }
}

// container 1
.container-1 {
  position: absolute;
  width: 55%;

  background-color: rgb(165, 42, 42, 0.6);

  animation: container1 1.4s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: -2;
}

@keyframes container1 {
  from { transform: translate(100%, 40%); }
  to   { transform: translate(50%, 40%); }
}

// container 2
.container-2 {
  position: absolute;
  width: 45%;

  background-color: rgb(165, 42, 42, 0.6);

  animation: container2 1.4s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: -2;
}

@keyframes container2 {
  from { transform: translate(-90%, -45%); }
  to   { transform: translate(-70%, -45%); }
}

// container 3
.container-3 {
  position: absolute;
  width: 65%;

  background-color: rgb(0, 0, 255, 0.7);

  animation: container3 1.3s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: -1;
}

@keyframes container3 {
  from { transform: translate(-105%, +40%); }
  to   { transform: translate(-85%, +40%); }
}

// container 4
.container-4 {
  position: absolute;
  width: 80%;

  background-color: rgb(0, 0, 255, 0.7);

  animation: container4 1.3s ease forwards, fadeIn 2.5s ease; 

  aspect-ratio: 1 / 1.15;

  z-index: -1;
}

@keyframes container4 {
  from { transform: translate(+105%, -8%); }
  to   { transform: translate(+90%, -8%); }
}

// other animations
@keyframes fadeIn {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}