.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  animation: backgroundFadeIn 0.3s ease forwards; 
}

@keyframes backgroundFadeIn {
  from { background-color: rgba(255, 255, 255, 0);}
  to { background-color: rgba(255, 255, 255, 0.2);}
}

.hex {
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}

// central container
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 60%;

  background: #1A1D23;
  background: linear-gradient(180deg,rgba(26, 29, 35, 1) 35%, rgb(52, 63, 76) 80%);

  animation: mainContainer 0.7s ease forwards, fadeIn 0.3s ease; 

  aspect-ratio: 1 / 1.15;

  z-index: 3;
}

@keyframes mainContainer {
  from { transform: translateY(-50%); }
  to   { transform: translateY(-35%); }
}

// container 1
.container-1 {
  position: absolute;
  width: 55%;

  background-color: rgb(79, 72, 57, 0.6);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' opacity='0.05' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%232b2b3100'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='2.5' stroke='%23f6ad55ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  animation: container1 1.4s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: 1;
}

@keyframes container1 {
  from { transform: translate(100%, 40%); }
  to   { transform: translate(50%, 40%); }
}

// container 2
.container-2 {
  position: absolute;
  width: 45%;

  background-color: rgb(79, 72, 57, 0.6);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' opacity='0.05' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%232b2b3100'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='2.5' stroke='%23f6ad55ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  animation: container2 1.4s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: 1;
}

@keyframes container2 {
  from { transform: translate(-90%, -45%); }
  to   { transform: translate(-70%, -45%); }
}

// container 3
.container-3 {
  position: absolute;
  width: 65%;

  background: linear-gradient(90deg,rgba(26, 29, 35, 0.5) 50%, rgb(52, 63, 76) 100%);

  animation: container3 1.3s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1;

  z-index: 2;
}

@keyframes container3 {
  from { transform: translate(-105%, 40%); }
  to   { transform: translate(-85%, 40%); }
}

// container 4
.container-4 {
  position: absolute;
  width: 80%;

  background: linear-gradient(270deg,rgba(26, 29, 35, 0.5) 50%, rgb(52, 63, 76) 100%);

  animation: container4 1.3s ease forwards, fadeIn 0.5s ease; 

  aspect-ratio: 1 / 1.15;

  z-index: 2;
}

@keyframes container4 {
  from { transform: translate(105%, -8%); }
  to   { transform: translate(90%, -8%); }
}

// other animations
@keyframes fadeIn {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}