.content {
  justify-content: center;

  width: 30%;
  height: 45%;
}

.logo {
  width: 100%;
  height: min-content;
}

.tooltip {
  text-align: center;
  color: gray;

  animation: blink 4s ease-in-out infinite;
  font-size: large;
}

@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}