body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;

  font-family: "Main";

  overflow: hidden;
}

h1 {
  font-family: "Heading";
}

@font-face {
  font-family: "Main";
  src: url("/fonts/main.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Heading";
  src: url("/fonts/heading.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
